.container_content{
  width: 100%;
  height: 100%;

  margin-top: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.content_cover > img{
  border: 5px solid rgb(130, 127, 127);
  border-radius: 5px;
  width: 280px;
  min-width: 280px;
  height: 300px;
}

.content_description{
  margin-top: 15px;
}

.content_description > p{
  margin-top: 20px;
  color: rgb(174, 169, 169)
}
