<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card
    photoCover="https://th.bing.com/th/id/OIP.MakwUv_6Myl53xW_no2OmgHaEo?w=252&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
    cardTitle="Último Filme da Saga Harry Potter"
    cardDescription="O último filme da saga Harry Potter foi lançado, deixando os potterheads tristes por não terem mais contéudos e filmes desse mundo mágicos."
    >
  </app-big-card>

  <app-big-card
    photoCover="https://th.bing.com/th/id/OIP.oOlGl8LAKmjwNcAx0RJGxAHaEK?w=312&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
    cardTitle="Série de Harry Potter foi confirmada"
    cardDescription="A produção da série de Harry Potter, escrita por J.K. Rowling, foi confirmada pela Warner Bros. A nova adaptação da saga, originalmente lançada com sete livros, será para o serviço de streaming Max, novo nome da plataforma que une a HBO Max e a Discovery+."
    >
  </app-big-card>
  </div>

  <div class="articles_others">
    <app-small-card
      photoCover="https://th.bing.com/th/id/OIP.5ry13dhluQWdY_PoxhfNiQHaDt?w=315&h=174&c=7&r=0&o=5&dpr=1.3&pid=1.7"
      cardTitle="Harry Potter: Tudo o que sabemos sobre a série do HBO."
    >
    </app-small-card>

    <app-small-card
    photoCover="https://th.bing.com/th/id/OIP.QcMH_Fn7iyBk2oTZhAvaEAHaFj?w=212&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
    cardTitle="Quantos livros tem a série Harry Potter e qual a ordem de ler?"
    >
    </app-small-card>

    <app-small-card
      photoCover="https://th.bing.com/th/id/OIP.Hyk1OUQ-VN3Cy_T5T_lCcAHaDt?w=335&h=175&c=7&r=0&o=5&dpr=1.3&pid=1.7"
      cardTitle="Qual a história de Severus Snape?"
    >
    </app-small-card>

  </div>

</div>
